<% title do %>
	<h1><%= link_to image_tag(@org.logo.url), root_path %></h1>
	<ul class="sub_menu">
		<% if @channel && @channel.persisted? %>
			<li><%= link_to "Edit This Room", edit_channel_path(@org.permalink, @channel), remote: true %></li>
		<% end %>
		<li><%= link_to "Create A Channel", new_channel_path(@org.permalink), remote: true %></li>
	</ul>
<% end %>

<% if @member.channelships.unaccepted.any? %>
	<h3>Invitations</h3>
	<ul>
		<% @member.channelships.unaccepted.each do |channelship| %>
			<li>
				<%= channelship.channel.name %> by
				<%= channelship.channel.creator.name %>
				<%= link_to "Accept", channel_channelship_accept_path(channelship.channel.organization.permalink, channelship.channel, channelship, channelship: { accepted: true }), method: :post %>
			</li>
		<% end %>
	</ul>
<% end %>

<div class="container">
	<ul id="channels">
		<li class="channel panel center">
			<a href="<%= new_channel_path %>" data-remote="true">
				<%= image_tag "/imgs/plus.png", class: "plus" %>
			</a>
		</li>
	  <%= render @channels %>
	</ul>
</div>