<% title do %>
	<h1><%= link_to image_tag(@org.logo.url), root_path %></h1>
	<h1 class="avatar"><%= link_to image_tag(@channel.creator.user.avatar.url, class: "user_avatar"), @channel.creator.user.website.to_s, target: :blank %></h1>
<% end %>

<div class="has_header">
	<div class="sidebar">
		<% if @member.channelships.unaccepted.any? %>
			<h3>Invitations</h3>
			<ul>
				<% @member.channelships.unaccepted.each do |channelship| %>
					<li>
						<%= channelship.channel.name %> by
						<%= channelship.channel.creator.name %>
						<%= link_to "Accept", channel_channelship_accept_path(channelship.channel.organization.permalink, channelship.channel, channelship, channelship: { accepted: true }), method: :post %>
					</li>
				<% end %>
			</ul>
		<% end %>
		
		<ul id="channels">
			<li><%= select_tag :n, options_for_select(@member.channels.map{ |c| [c.name, c.id] }, @channel.id)%></li>
			<li><%= link_to "Messages", channel_path(@org.permalink, @channel) %></li>
			<li><%= link_to "Tasks", channel_tasks_path(@org.permalink, @channel) %></li>
			<li><%= link_to "Documents", channel_documents_path(@org.permalink, @channel) %></li>
			<li><%= link_to "Who's Here?", channel_channelships_path(@org.permalink, @channel) %></li>
			<li><%= link_to "Homes", channel_homes_path(@org.permalink, @channel) %></li>
		</ul>
	</div>
	
	<div class="right_sidebar sidebar">
		<ul>
			<li><%= link_to "+ Add A Channel", new_channel_path(@org.permalink), remote: true %></li>
			<%= render @member.channels %>
		</ul>
	</div>

	<div class="main has_sidebar">
		<%= @channel.name %>
		<div class="loading"></div>
	</div>
</div>
