<%= link_to "x", "#", class: "close_lightbox close_button" %>
<h1><%= @message.new_record? ? "Create A" : "Edit" %> Message</h1>

<div class="content">
	<%= form_for @message, url: @message.new_record? ? messages_path(@org) : message_path(@org, @message), remote: true, html: { target: "iframe" } do |f| %>
	  <div class="field">
	    <%= label_tag :from, "From", class: "label" %>
	    <%=	select_tag :from, options_for_select(["#{@member.name} <#{current_user.email}>"]), class: "full_width" %>
	  </div>
	
	  <div class="field">
			<%= label_tag :to, "To", class: "label" %>
			<% @message.members.each_with_index do |member, index| %>
		    <%= hidden_field_tag "message[member_ids][]", member.id %>
				<%= text_field_tag "message_member_#{index}", member.name_and_email, class: "full_width", disabled: true %>
			<% end %>
			<% if @message.members.empty? %>
				<%= hidden_field_tag "message[segment_ids][]" %>
			
				<ul>
					<li>
						<%= check_box_tag "message_segment_all", 0, true, name: "message[segment_ids][]" %>
						<%= label_tag "message_segment_all", "Everyone", class: "label inline" %>
					</li>
					
					<% @org.segments.each_with_index do |segment| %>
				    <li>
							<%= check_box_tag "message_segment_#{segment.id}", segment.id, false, name: "message[segment_ids][]" %>
							<%= label_tag "message_segment_#{segment.id}", segment.name, class: "label inline" %>
						</li>
					<% end %>
				</ul>
			<% end %>
	  </div>

	  <div class="field">
	    <%= f.label :via, "How would you like to send the message?", class: "label" %>
	    <%= f.select :via, options_for_select([["Email", "email"], ["SMS (Text Message)", "sms"]], @message.via), class: "full_width" %>
	  </div>
	  <div class="field subject_field">
	    <%= f.label :subject, class: "label" %>
	    <%= f.text_field :subject, class: "full_width" %>
	  </div>
	  <div class="field">
	    <%= f.label :body, "Message", class: "label" %>
	    <%= f.text_area :body, class: "full_width" %>
			
			<p class="sms_limit">
				<span class="sms_length">0</span> / 160 characters
			</p>
	  </div>
		
		<div class="clear"></div>
		
	  <div class="field subject_field">
	    <%= f.label :attachment, class: "label" %>
	    <%= f.file_field :attachment, class: "full_width" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Save Message", class: "big blue_bg button" %>
			<%= link_to "Close", "#", class: "close_lightbox" %>
	  </div>		
	<% end %>
</div>