<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @message.creator %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Member ids:</strong>
  <%= @message.member_ids %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @message.organization %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
