<%= link_to "x", "#", class: "close_lightbox close_button" %>
<h1><%= @meeting.new_record? ? "Create A" : "Edit" %> Meeting</h1>
	
<div class="content">
	<%= form_for [@room, @meeting], url: @meeting.new_record? ? room_meetings_path(@org.permalink, @room) : room_meeting_path(@org.permalink, @room, @meeting), remote: true do |f| %>
	  <% if @meeting.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

	      <ul>
	      <% @meeting.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="field">
	    <%= f.label :date %><br>
	    <%= f.date_select :date %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
			
			<%= link_to "Close", "#", class: "close_lightbox" %>
			
			<% if @meeting.persisted? %>
				<%= link_to "Delete", room_meeting_path(@org.permalink, @room, @meeting), method: :delete, data: { confirm: "Are you sure you want to delete this meeting?" } %>
			<% end %>
	  </div>
	<% end %>
</div>