<%= link_to "x", "#", class: "close_lightbox close_button" %>
<h1><%= @fship.new_record? ? "Send An Invitation" : @fship.member.name %></h1>
	
<div class="content">
	<% if @folder.creator_id == @fship.member_id %>
		You cannot change the permissions of a folder's owner.
	<% else %>
		<%= form_for @fship, url: @fship.new_record? ? folder_folderships_path(@org.permalink, @folder) : folder_foldership_path(@org.permalink, @folder, @fship), remote: true do |f| %>
		
			<% if @fship.new_record? %>
			  <div class="field">
			    <%= f.label :name %><br>
			    <%= f.text_field :name %>
			  </div>
			  <div class="field">
			    <%= f.label :email %><br>
			    <%= f.text_field :email %>
			  </div>
			<% end %>
		
		  <div class="field">
		    <%= f.label :role, "Access Level" %><br>
		    <%= f.select :role, options_for_select([["Agent (all-access)", "admin"], ["Client (read-only access)", "read_only"], ["Lawyer (documents-only)", "documents_only"]], @fship.role) %>
		  </div>
		  <div class="actions">
				<%= f.submit @fship.new_record? ? "Send Invitation" : "Save Permissions", class: "big blue_bg button" %>
			
				<%= link_to "Close", "#", class: "close_lightbox" %>
			
				<% if @fship.persisted? %>
					<%= link_to "Revoke Access", folder_foldership_path(@org.permalink, @folder, @fship), method: :delete, remote: true, data: { confirm: "Are you sure you want to revoke #{@fship.member.name}'s access?" } %>
				<% end %>
		  </div>
		<% end %>
	<% end %>
</div>