<div id="yield">
	<div class="container">
		
		<div class="header">
			<%= link_to image_tag(@org.logo.url, class: "brokerage_logo"), @org.website.to_s, target: :blank %>
			<%= link_to image_tag(@folder.creator.avatar.url, class: "user_avatar"), @folder.creator.website.to_s, target: :blank %>
	
	    <div class="profile">
	    	<p class="user_name"><%= @folder.creator.name %></p>
				<p class="brokerage_name"><%= link_to @org.name, @org.website.to_s, target: :blank %></p>
				<p class="user_website"><%= link_to @folder.creator.website.to_s, @folder.creator.website.to_s, target: :blank %></p>
				<p class="user_phone"><%= link_to @folder.creator.phone.to_s, "tel:#{@folder.creator.phone.to_s.gsub(/[^\d]/, "")}", target: :blank %></p>
	    </div>
			
	    <div class="clear"></div>
		</div>
		
		<hr />
		
		<div class="folder_meta">
			<h3>Last updated on <%= @folder.updated_at.strftime("%a, %b %-d") %></h3>
			<h2>
				<%= @folder.name %>
				<%= link_to "Rename", edit_folder_path(@folder.organization.permalink, @folder), remote: true if @foldership.permits? :folders, :write %>
			</h2>
		</div>

		<% if @foldership.permits? :folderships, :read %>
			<div class="panel right">
				<% if @foldership.permits? :folderships, :write %>
					<%= link_to "Invite", "#", class: "invite_member right button small blue_bg" %>
				<% end %>
				
				<h3>Who's Here?</h3>
				<ul class="bulleted">
					<% 5.times do %>
						<li><%= link_to "Dallas Read", "#" %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		
		<% if @foldership.permits? :tasks, :read %>
			<div id="tasks_wrapper" class="panel notepad left">
				<h3>What's Next?</h3>
				<ul id="tasks" class="folder_<%= @folder.id %>_tasks" data-url="<%= folder_sort_tasks_path(@org.permalink, @folder) %>" <%= "data-write" if @foldership.permits? :tasks, :write %> <%= "data-delete" if @foldership.permits? :tasks, :delete %>>
					<%= render @folder.tasks.incomplete.by_ordinal %>
				</ul>
				<ul id="completed_tasks" class="folder_<%= @folder.id %>_completed_tasks" <%= "data-write" if @foldership.permits? :tasks, :write %>>
					<%= render @folder.tasks.complete.by_completed_at %>
				</ul>
				
				<% if @foldership.permits? :tasks, :write %>
					<%= form_for [@folder, Task.new], url: folder_tasks_path(@org.permalink, @folder), remote: true do |f| %>
						<%= f.text_field :content, value: nil, placeholder: "What else needs to be done?", autocomplete: "off" %>
					<% end %>
				<% end %>
				
				<%= link_to "Show Completed Tasks", "#", class: "show_completed_tasks", style: "#{"display: none; " if @folder.tasks.complete.empty?}" %>
			</div>
		<% end %>

		<% if @foldership.permits? :documents, :read %>
			<div id="documents_wrapper" class="panel top_space no_surround right">
				<div class="content">
					<% if @foldership.permits? :documents, :write %>
						<%= link_to "Upload", "#", class: "upload_document right button small blue_bg" %>
					<% end %>
					
					<h3>Documents</h3>
				
					<table id="documents" style="<%= "display: none; " if @folder.documents.empty? %>" <%= "data-delete" if @foldership.permits? :documents, :delete %>>
						<thead>
							<tr>
								<th>File Name</th>
								<th>Added</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="documents" class="folder_<%= @folder.id %>_documents">
							<%= render @folder.documents.order("updated_at desc") %>
						</tbody>
					</table>
					
					<% if @foldership.permits? :documents, :write %>
						<%= form_for [@folder, Document.new], url: folder_documents_path(@org.permalink, @folder) do |f| %>
							<%= f.file_field :file %>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>

		<div class="clear"></div>

		<!--
		<div class="top_space panel">
					<h3>Homes</h3>
					<ul>
						<li><%= link_to "New Home", new_folder_home_path(@org.permalink, @folder) %></li>
						<%= render @folder.homes.order("updated_at desc") %>
					</ul>
				</div>-->
		
		
		
	</div>
</div>
