<table id="attendance" class="table center">
	<thead>
		<tr>
			<th class="row_head">Name</th>
			
			<% clearances.each do |clearance| %>
				<th><%= clearance.capitalize %></th>
			<% end %>
			
			<th>Status</th>
		</tr>
	</thead>
	<tbody>		
		<% @org.members.last_name_asc.each do |member| %>
			<tr data-member-id="<%= member.id %>">
				<td class="row_head">
					<span class="pretty_name"><%= member.pretty_name %></span>
					<span class="search" style="display: none; "><%= member.name %></span>
				</td>
				
				<% clearances.each do |clearance| %>
					<td><%= member.permits?(clearance) %></td>
				<% end %>
				
				<td><%= link_to "Invite", "#" %></td>
			</tr>
		<% end %>
	</tbody>
</table>