<div class="container narrow">

	<div class="center">
		<% if @org %>
			<%= link_to image_tag(parse_default(@org.logo.url)), request.path, id: "logo" %>
		<% else %>
			<%= link_to image_tag("/#{@website["domain"]}/imgs/logo.png"), root_url(subdomain: "www"), id: "logo" %>
		<% end %>
	</div>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
		<%= f.hidden_field :reset_password_token %>
	  <%= devise_error_messages! %>
		
		<p class="tagline">
			Choose a new password.
		</p>

	  <div class="field">
			<%= f.label :password, "New password", class: "label" %>
	    <%= f.password_field :password, autocomplete: "off" %>
		</div>
		
	  <div class="field">
			<%= f.label :password_confirmation, "Confirm new password", class: "label" %>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
		</div>

	  <div class="actions">
			<%= f.submit "Save My New Password", class: "big blue_bg button full_width" %>
		</div>
	<% end %>

	<div class="center">
		<%= link_to "Help: I need to sign up!", new_user_registration_path, class: "help_link" %>
	</div>

</div>