<div class="container narrow">

	<div class="center">
		<% if @org %>
			<%= link_to image_tag(parse_default(@org.logo.url)), request.path, id: "logo" %>
		<% else %>
			<%= link_to image_tag("/#{@website["domain"]}/imgs/logo.png"), root_url(subdomain: "www"), id: "logo" %>
		<% end %>
	</div>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <p class="tagline">
			Enter your email address and we'll send you password reset instructions.
		</p>
		
		<%= devise_error_messages! %>

	  <div class="field">
			<%= f.label :email, class: "label" %>
		  <%= f.email_field :email %>
		</div>

	  <div class="actions">
			<%= f.submit "Email Me Reset Instructions", class: "big blue_bg button full_width" %>
		</div>
	<% end %>

	<div class="center">
		<%= link_to "Help: I need to sign up!", new_user_registration_path, class: "help_link" %>
	</div>

</div>