<% title do %>
	<h1 class="avatar"><%= link_to image_tag(@folder.creator.user.avatar.url, class: "user_avatar"), @folder.creator.user.website.to_s, target: :blank %></h1>
	<h1><%= link_to image_tag(@org.logo.url), root_path %></h1>
<% end %>

<div class="has_header">
	<%= render "folders/sidebar" %>

	<div class="main has_sidebar">
		<div class="loading"></div>
		
		<div id="documents_wrapper" class="mini_content_wrapper">
			<% if @foldership.permits? :documents, :read %>
				
				<% if @foldership.permits? :documents, :write %>
					<%= link_to "Upload A Document", "#", class: "upload_document right button big blue_bg" %>
					
					<%= form_for [@folder, Document.new], url: folder_documents_path(@org, @folder) do |f| %>
						<%= f.file_field :file %>
					<% end %>
				<% end %>
				
				<div class="clear"></div>
			
				<table id="documents" class="table" <%= "data-delete" if @foldership.permits? :documents, :delete %>>
					<thead>
						<tr>
							<th>File Name</th>
							<th>Added</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="documents" class="folder_<%= @folder.id %>_documents">
						<%= render @folder.documents.order("updated_at desc") %>
					</tbody>
				</table>
				
			<% end %>
		</div>
		
	</div>
</div>