<% title do %>
	<h1 class="avatar"><%= link_to image_tag(@folder.creator.user.avatar.url, class: "user_avatar"), @folder.creator.user.website.to_s, target: :blank %></h1>
	<h1><%= link_to image_tag(@org.logo.url), root_path %></h1>
<% end %>

<div class="has_header">
	<%= render "folders/sidebar" %>

	<div class="main has_sidebar">
		<div class="loading"></div>
	
		<div class="mini_content_wrapper">			
			<ul class="mini_meta">
				<li><%= link_to "Show Map", "#", class: "big button grey_bg" %></li>
				<% if @foldership.permits? :homes, :write %>
					<li><%= link_to "Add A Home", new_folder_home_path(@org, @folder), class: "button big blue_bg" %></li>
				<% end %>
			</ul>
			
			<table class="table">
			  <thead>
			    <tr>
			      <th>Address</th>
			      <th>Beds</th>
			      <th>Baths</th>
						<th></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @homes.each do |home| %>
			      <tr>
			        <td><%= link_to home.address, folder_home_path(home.folder.organization, home.folder, home) %></td>
			        <td><%= link_to home.beds, folder_home_path(home.folder.organization, home.folder, home) %></td>
			        <td><%= link_to home.baths, folder_home_path(home.folder.organization, home.folder, home) %></td>
			        <td><%= link_to 'Destroy', folder_home_path(home.folder.organization, home.folder, home), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
		
	</div>
</div>