<div class="sidebar">
	<%= render "filters" %>
</div>

<div class="main has_sidebar">
	<div id="searcher">
		<%= form_tag contacts_path(@org.permalink, format: :js), id: "q_form" do %>
			<%= text_field_tag :q, nil, placeholder: "Search..." %>
			<%= submit_tag "Search" %>
			<!--<%= select_tag :qt, options_for_select(["All Contacts", "Regulars", "Occasionals", "New Guests", "Archived"]) %>-->
			<span class="members_count"><%= pluralize @members.count, "Result" %></span>
		<% end %>
	</div>
	
	<table id="contacts" class="table">
		<thead>
			<tr>
				<th>
					<div class="loading"></div>
					<%= check_box_tag :nice %>
				</th>
				<th style="width: 33%">First Name</th>
				<th style="width: 33%">Last Name</th>
				<th style="width: 33%">Email</th>
			</tr>
		</thead>
		<tbody>
			<%= render @members %>
		</tbody>
	</table>
</div>