<div class="container narrow">

	<div class="center">
		<% if @org %>
			<%= link_to image_tag(parse_default(@org.logo.url)), request.path, id: "logo" %>
		<% else %>
			<%= link_to image_tag(parse_default("default_org_logo")), root_url(subdomain: "www"), id: "logo" %>
		<% end %>
	</div>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<%= f.hidden_field :invitation_token, value: params[:token] if params[:token] %>
		<%= hidden_field_tag :permalink, params[:permalink] if params[:permalink] %>
		<%= hidden_field_tag :domain, cookies[:domain] %>
		
		<p class="tagline"><%= @website["tagline"] %></p>
		
		<% before = alert.to_s.include? "continuing" %>
		<% if alert && before %>
			<p class="error"><%= alert %></p>
		<% end %>
		
		<div class="signin_method" data-signin="fb" style="<%= "display: none;" if alert && !before %>">
			<%= link_to "Sign in with Facebook <i class=\"fa fa-facebook\"></i>".html_safe, omniauth_authorize_path(resource_name, :facebook), class: "big fb_bg button with_icon full_width" %><br />
			<%= link_to "I'd rather sign in with my email address.", "#", class: "help_link toggle_signin_method", data: { signin: "email" } %>
		</div>

		<div class="signin_method" data-signin="email" style="<%= "display: none;" if !alert || (alert && before) %>">
			<% if alert && !before %>
				<p class="error"><%= alert %></p>
			<% end %>
			
		  <div class="field">
				<%= f.label :email, class: "label" %>
				<%= f.email_field :email %>
			</div>

		  <div class="field">
				<%= f.label :password, class: "label" %>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

		  <div class="actions">
				<%= f.hidden_field :remember_me, value: true %>
				<%= f.button "Sign In <i class=\"fa fa-paper-plane\"></i>".html_safe, class: "big blue_bg button full_width" %>
				<%= link_to "I'd rather sign in using Facebook.", "#", class: "help_link toggle_signin_method", data: { signin: "fb" } %>
				<%= link_to "I forgot my password!", new_password_path(resource_name), class: "help_link" %>
			</div>
		</div>
		
		<div class="clear"></div>
	<% end %>

	<div class="center">
		<%= link_to "Help: I don't have an account yet.", new_user_registration_path(token: params[:token]), class: "help_link" %>
	</div>

</div>