<%= link_to "x", "#", class: "close_lightbox close_button" %>
<h1><%= @room.new_record? ? "Create A" : "Edit" %> Room</h1>
	
<div class="content">
	<%= form_for @room, url: @room.new_record? ? rooms_path(@org.permalink) : room_path(@org.permalink, @room) do |f| %>
	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
	  <div class="actions">
			<%= f.submit "Save Room", class: "big blue_bg button" %>
			
			<%= link_to "Close", "#", class: "close_lightbox" %>
			
			<% if @room.persisted? %>
				<%= link_to "Delete", room_path(@org.permalink, @room), method: :delete, data: { confirm: "Are you sure you want to delete this room?" } %>
			<% end %>
	  </div>
	<% end %>
</div>
