<% title do %>
	<h1><%= link_to "#{@room.name} &nbsp; &darr;".html_safe, "#", class: "show_sub_menu" %></h1>
	<ul class="sub_menu">
		<li><%= link_to "Edit This Room", edit_room_path(@org.permalink, @room), remote: true %></li>
		
		<% @org.rooms.each do |room| %>
			<% if room != @room %>
				<li><%= link_to room.name, room_path(@org.permalink, room) %></li>
			<% end %>
		<% end %>
		
		<li><%= link_to "Create A New Room", new_room_path(@org.permalink), remote: true %></li>
	</ul>
<% end %>

<div id="attendance_header" data-room-id="<%= @room.id %>" data-event-path="<%= track_path(@org.permalink) %>" data-last-meeting-id="<%= @last_meeting ? @last_meeting.id : 0 %>">
	<div class="loading"></div>
	<table class="table center date_headers">
		<thead>
			<tr>
				
				<% @nils.times do %>
					<th class="unused"></th>
				<% end %>
			
				<%= render @meetings %>

				<th class="row_for_new">
					<%= link_to "+", new_room_meeting_path(@org.permalink, @room), remote: true, class: "add_date" %>
				</th>
				<th class="row_head">
					<%= form_for request.path, method: :get, remote: true do %>
						<%= link_to "x", "#", class: "clear_q" %>
						<%= text_field_tag :q, nil, placeholder: "Search or Add by Name...", autocomplete: :off %>
					<% end %>
				</th>
			</tr>
		</thead>
	</table>
</div>

<table id="attendance" class="table center">
	<tbody>
		<tr class="add_on_the_fly">
			<% @nils.times do %>
				<td class="unused"></td>
			<% end %>
			
			<% @meetings.each do |meeting| %>
				<%= render "presence_toggle" %>
			<% end %>
			
			<td class="here row_for_new"></td>
			<td class="row_head">
				<span class="pretty_name">
					Add <span class="name"></span>
				</span>
				<span class="search"></span>
			</td>
		</tr>
		
		<% @memberships.each do |membership| %>
			<tr>
				
				<% @nils.times do %>
					<td class="unused"></td>
				<% end %>
				
				<% @meeting_events.each do |meeting_id, member_ids| %>
					<%= render "presence_toggle", present: member_ids.include?(membership.user_id) %>
				<% end %>

				<td class="here row_for_new"></td>
				<td class="row_head" data-membership-id="<%= membership.id %>">
					<span class="pretty_name"><%= membership.pretty_name %></span>
					<span class="search"><%= membership.name %></span>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id="attendance_footer">
	<table class="table center">
		<tfoot class="blue_bg">
			<tr>
				<% @nils.times do %>
					<td class="unused"></td>
				<% end %>
				
				<% @meetings.each do |meeting| %>
					<%= render("presence_total") %>
				<% end %>

				<td class="row_for_new"></td>
				<td class="row_head">Total</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="templates">
	<table>
		<tr class="presence_toggle_template">
			<%= render "presence_toggle" %>
		</tr>
		<tr class="presence_total_template">
			<%= render "presence_total" %>
		</tr>
	</table>
</div>