<% title link_to("#{@room.name} &darr;".html_safe, "#") %>

<div id="attendance_header">
	<table class="table center date_headers">
		<thead>
			<tr>
			
				<% [1, 2, 3, 4, 5].each do |meeting| %>
					<th class="with_date"><a href="#">
						<span class="day">Mon</span>
						<span class="date">Apr 12</span>
					</a></th>
				<% end %>

				<th class="row_for_new"><a href="#" class="add_date">+</a></th>
				<th class="row_head">
					<%= form_for request.path, method: :get, remote: true do %>
						<%= link_to "x", "#", class: "clear_q" %>
						<%= text_field_tag :q, nil, placeholder: "Search or Add by Name...", autocomplete: :off %>
					<% end %>
				</th>
			</tr>
		</thead>
	</table>
</div>

<table id="attendance" class="table center">
	<tbody>
		<% 50.times do |n| %>
			<% @org.members.each do |member| %>
				<tr>
					<td class="presence_toggle present"><a href="#">
						<span class="here">&check;</span>
						<span class="not_here">&nbsp;</span>
					</a></td>
					<td class="presence_toggle present"><a href="#">
						<span class="here">&check;</span>
						<span class="not_here">&nbsp;</span>
					</a></td>
					<td class="presence_toggle"><a href="#">
						<span class="here">&check;</span>
						<span class="not_here">&nbsp;</span>
					</a></td>
					<td class="presence_toggle present"><a href="#">
						<span class="here">&check;</span>
						<span class="not_here">&nbsp;</span>
					</a></td>
					<td class="presence_toggle"><a href="#">
						<span class="here">&check;</span>
						<span class="not_here">&nbsp;</span>
					</a></td>
					<td class="here row_for_new"></td>
					<td class="row_head"><%= member.last_name %>, <%= member.first_name %> <%= n %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<div id="attendance_footer">
	<table class="table center">
		<tfoot class="blue_bg">
			<tr>
				<td class="total"><a href="#">35</a></td>
				<td class="total"><a href="#">43</a></td>
				<td class="total"><a href="#">0</a></td>
				<td class="total"><a href="#">42</a></td>
				<td class="total"><a href="#">0</a></td>
				<td class="row_for_new"></td>
				<td class="row_head">Total</td>
			</tr>
		</tfoot>
	</table>
</div>