<%= form_tag contacts_path(@org.permalink, format: :js), id: "filter_form" do %>
	<ul id="filters">
		<% %w[first_name last_name email].each do |field| %>
			<li class="disabled">
				<%= check_box_tag "#{field}" %>
				<%= label_tag "#{field}", field.humanize %>
				
				<div class="indent field">
					<%= hidden_field_tag "#{field}_field", field, data: { field: true } %>
					<%= hidden_field_tag "#{field}_matcher", "like", data: { matcher: true } %>
					<%= text_field_tag "#{field}_value", nil, data: { value: true } %>
				</div>
			</li>
		<% end %>
		
		<li class="insert_before">
			<%= link_to "+ Add Event Filter", "#", class: "add_event_filter" %>
		</li>		
	</ul>
<% end %>

<ul class="templates">
	
	<li class="string">
		<div class="field">
			<%= text_field_tag :n %>
		</div>
	</li>
	
	<li class="event_filter_template">
		<ul class="no_indent">
			<li class="disabled">
				<%= link_to "x", "#", class: "delete_filter" %>
				<%= check_box_tag :n %>
				<%= select_tag :n, options_for_select(["ATTENDED"]) %>
				
				<ul class="field">
					<li class="disabled">
						<%= check_box_tag :n %>
						<%= select_tag :n, options_for_select(["OCCURANCES"]) %>
						
						<%= hidden_field_tag "dynamic_field", "occurances", id: nil, name: nil, data: { field: true } %>
						<%= hidden_field_tag "dynamic_matcher", "greater_than", id: nil, name: nil, data: { matcher: true } %>
						<%= hidden_field_tag "dynamic_event", "attended", id: nil, name: nil, data: { event: true } %>
						<%= hidden_field_tag "dynamic_value", 0, id: nil, name: nil, data: { value: true } %>
						
						<ul class="no_indent field">
							<li class="integer_options">
								<ul>
									<li class="disabled">
										<%= hidden_field_tag "dynamic_field", "occurances", id: nil, name: nil, data: { field: true } %>
										<%= hidden_field_tag "dynamic_matcher", "greater_than", id: nil, name: nil, data: { matcher: true } %>
										<%= hidden_field_tag "dynamic_event", "attended", id: nil, name: nil, data: { event: true } %>
										<%= hidden_field_tag "dynamic_value", 0, id: nil, name: nil, data: { value: true } %>
										
										<%= check_box_tag "dynamic_checkbox", id: nil, name: nil %>
										<%= label_tag "dynamic_label", "Greater Than", id: nil, name: nil %>
										
										<div class="indent field">
											<%= hidden_field_tag "dynamic_field", "occurances", id: nil, name: nil, data: { field: true } %>
											<%= hidden_field_tag "dynamic_matcher", "greater_than", id: nil, name: nil, data: { matcher: true } %>
											<%= hidden_field_tag "dynamic_event", "attended", id: nil, name: nil, data: { event: true } %>
											<%= text_field_tag "dynamic_value", nil, id: nil, name: nil, data: { value: true } %>
										</div>
									</li>
									<li class="disabled">
										<%= check_box_tag "dynamic_checkbox", id: nil, name: nil %>
										<%= label_tag "dynamic_label", "Less Than", id: nil, name: nil %>
										
										<div class="indent field">
											<%= hidden_field_tag "dynamic_field", "occurances", id: nil, name: nil, data: { field: true } %>
											<%= hidden_field_tag "dynamic_matcher", "less_than", id: nil, name: nil, data: { matcher: true } %>
											<%= hidden_field_tag "dynamic_event", "attended", id: nil, name: nil, data: { event: true } %>
											<%= text_field_tag "dynamic_value", nil, id: nil, name: nil, data: { value: true } %>
										</div>
									</li>
									<li class="disabled">
										<%= check_box_tag "dynamic_checkbox", id: nil, name: nil %>
										<%= label_tag "dynamic_label", "Equal", id: nil, name: nil %>
										
										<div class="indent field">
											<%= hidden_field_tag "dynamic_field", "occurances", id: nil, name: nil, data: { field: true } %>
											<%= hidden_field_tag "dynamic_matcher", "is", id: nil, name: nil, data: { matcher: true } %>
											<%= hidden_field_tag "dynamic_event", "attended", id: nil, name: nil, data: { event: true } %>
											<%= text_field_tag "dynamic_value", nil, id: nil, name: nil, data: { value: true } %>
										</div>
									</li>
									<li class="disabled">
										<%= check_box_tag "dynamic_checkbox", id: nil, name: nil %>
										<%= label_tag "dynamic_label", "Within Period", id: nil, name: nil %>
										
										<div class="indent field">
											<%= hidden_field_tag "dynamic_field", "occurances", id: nil, name: nil, data: { field: true } %>
											<%= hidden_field_tag "dynamic_matcher", "within", id: nil, name: nil, data: { matcher: true } %>
											<%= hidden_field_tag "dynamic_event", "attended", id: nil, name: nil, data: { event: true } %>
											<%= select_tag "dynamic_value", options_for_select([["1 week", 1.week], ["2 weeks", 2.weeks], ["3 weeks", 3.weeks], ["1 month", 1.month], ["2 months", 2.months], ["3 months", 3.months], ["6 months", 6.months], ["1 year", 1.year]]), id: nil, name: nil, data: { value: true } %>
										</div>
									</li>
								</ul>
							</li>
						</ul>
						
					</li>
				</ul>
				
			</li>
		</ul>
	</li>
	
</ul>