<!DOCTYPE html>
<html>
<head>
  <title><%= "#{controller_name.capitalize} - #{@website["name"]}" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= tag :link, rel: "apple-touch-icon", href: "/#{@website["domain"]}/imgs/touch_icon.png" %>
	<%= tag :link, rel: "shortcut icon", href: "/#{@website["domain"]}/imgs/favicon.ico" %>
	<%= tag :meta, name: "mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-status-bar-style", content: "black" %>
	<%= tag :meta, name: "viewport", content: "initial-scale=1, maximum-scale=1" %>
	<%= tag :meta, name: "pusher-key", content: CONFIG["pusher_key"] %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}_#{action_name}" %> <%= "does_have_sidebar" if @does_have_sidebar %>">
	
	<% if user_signed_in? %>
		<div id="topbar">
			<%= link_to "<i class=\"fa fa-bars\"></i>".html_safe, "#", class: "show_nav" %>

			<ul class="nav">
				<% if current_user.admin? %>
					<li><%= link_to "Admin", organizations_path, class: "#{"selected" if request.path == organizations_path}" %></li>
				<% end %>
					
				<% if @org %>
					<% if @member.permits? :tasks, :read %>
						<li><%= link_to "Today", tasks_path(@org), class: "#{"selected" if request.path == tasks_path(@org)}" %></li>
					<% end %>
				
					<% if @member.permits? :members, :read %>
						<li><%= link_to "Contacts", members_path(@org), class: "#{"selected" if request.path == members_path(@org)}" %></li>
					<% end %>
					
					<% if @member.permits? :folders, :read %>
						<li><%= link_to "Folders", folders_path(@org), class: "#{"selected" if request.path.include? "folders"}" %></li>
					<% end %>
				
					<% if @member.permits? :rooms, :read %>
						<li><%= link_to "Attendance", rooms_path(@org), class: "#{"selected" if request.path.include? "attendance"}" %></li>
					<% end %>
				<% end %>
				
				<li><%= link_to "My Account", edit_user_registration_path, class: "#{"selected" if request.path == edit_user_registration_path}" %></li>
			</ul>

			<% if yield(:title).blank? %>
				<% if @org %>
					<h1><%= link_to image_tag(parse_default(@org.logo.url)), root_path %></h1>
				<% else %>
					<h1><%= link_to image_tag(parse_default("default_org_logo")), root_path %></h1>
				<% end %>
			<% else %>
				<%= yield :title %>
			<% end %>
		</div>
	<% end %>

	<%= yield %>
	
	<%= render "noterizer" %>

</body>
</html>
