<!DOCTYPE html>
<html>
<head>
  <title>Touch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= tag :meta, name: "mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-status-bar-style", content: "black" %>
	<%= tag :meta, name: "viewport", content: "initial-scale=1, maximum-scale=1" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}_#{action_name}" %>">
	
	<% if user_signed_in? %>
		<div id="topbar" class="blue_bg">
			<h1><%= yield(:title).blank? ? link_to("RealTXN.com", root_path) : yield(:title) %></h1>
			
			<ul class="nav">
				<% if @org %>
					<% if @org.modules.include? "Contacts" %>
						<li><%= link_to "Contacts", contacts_path(@org), class: "#{"selected" if request.path == contacts_path(@org)}" %></li>
					<% end %>
					<% if @org.modules.include? "Attendance" %>
						<li><%= link_to "Attendance", attendance_path(@org), class: "#{"selected" if request.path.include? "attendance"}" %></li>
					<% end %>
				<% end %>
				
				<li><%= link_to "Settings", edit_user_registration_path, class: "#{"selected" if request.path == edit_user_registration_path}" %></li>
			</ul>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
