<!DOCTYPE html>
<html>
<head>
  <title>Touch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= tag :meta, name: "mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-status-bar-style", content: "black" %>
	<%= tag :meta, name: "viewport", content: "initial-scale=1, maximum-scale=1" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}_#{action_name}" %>">
	<% if user_signed_in? %>
		<div id="topbar">
			<%= link_to "[#]", "#", class: "show_nav" %>

			<ul class="nav">
				<% if @org %>
					<% if @org.modules.include?("contacts") && @member.permits?("contacts") %>
						<li><%= link_to "Contacts", members_path(@org), class: "#{"selected" if request.path == members_path(@org)}" %></li>
					<% end %>
					
					<% if @org.modules.include?("channels") && @member.permits?("channels") %>
						<li><%= link_to "Channels", channels_path(@org), class: "#{"selected" if request.path.include? "channels"}" %></li>
					<% end %>
				
					<% if @org.modules.include?("attendance") && @member.permits?("attendance") %>
						<li><%= link_to "Attendance", attendance_path(@org), class: "#{"selected" if request.path.include? "attendance"}" %></li>
					<% end %>
				<% end %>
			
				<li><%= link_to "Settings", edit_user_registration_path, class: "#{"selected" if request.path == edit_user_registration_path}" %></li>
			</ul>

			<% if yield(:title).blank? %>
				<% if @org %>
					<h1><%= link_to image_tag(@org.logo.url), root_path %></h1>
				<% else %>
					<h1><%= link_to(@website["name"], root_path) %></h1>
				<% end %>
			<% else %>
				<%= yield :title %>
			<% end %>
		</div>
	<% end %>

	<%= yield %>
	
	<%= render "lightbox" %>

</body>
</html>
