<%= link_to "x", "#", class: "close_lightbox close_button" %>
<h1><%= @this_member.new_record? ? "Create A" : "Edit" %> Member</h1>

<div class="content">
	
	<% if @this_member.new_record? %>
		<p><%= link_to "Click here to import a CSV or Excel file.", "#", class: "show_import_fields" %></p>
	<% end %>
	
	<%= form_for @org, url: import_path(@org), method: :post, html: { class: "import_fields", target: "iframe" } do |f| %>
		<div class="field">
			<%= f.label :members_import, "Choose a CSV or Excel file to import", class: "label"%>
			<%= f.file_field :members_import %>
		</div>
		
		<p class="warn contact_error" style="display: none; ">
			Friendly Reminder: If a contact already exists in your database, we will merge their new data with their current data.
		</p>
		
		<div class="actions">
			<%= button_tag type: :submit, class: "big blue_bg button" do %>
				<span class="enabled">Import Contacts</span>
				<span class="disabled">Importing...</span>
			<% end %>
			
			<%= link_to "Close", "#", class: "close_lightbox" %>
		</div>
	<% end %>
	
	<%= form_for @this_member, url: @this_member.new_record? ? members_path(@org) : member_path(@org, @this_member), remote: true do |f| %>
		<% top_fields = %w[first_name last_name email] %>
		<% special_fields = top_fields + %w[full_name name] %>
	
		<div class="field">
			<table class="table new_member_fields">
				<thead>
					<tr>
						<th>Name (eg. mobile)</th>
						<th>Value (eg. 19059997777)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="templates">
						<td><%= text_field_tag "key_field", "", name: nil, id: nil, class: "key_field" %></td>
						<td><%= text_field_tag "", "", class: "value_field" %></td>
						<td><%= link_to "<i class=\"fa fa-times-circle\"></i>".html_safe, "#", class: "remove_member_field" %></td>
					</tr>
					
					<% top_fields.each do |key| %>
						<tr>
							<td><%= text_field_tag "a_field", key.split("_").map{ |w| w.capitalize }.join(" ") %></td>
							<td><%= text_field_tag "member[data][#{key}]", @this_member.data[key], class: "value_field" %></td>
							<td><%= link_to "&nbsp;".html_safe, "#" %></td>
						</tr>
					<% end %>
					
					<% @this_member.data.each do |key, value| %>
						<% if !special_fields.include? key %>
							<tr>
								<td><%= text_field_tag "key_field", key.split("_").map{ |w| w.capitalize }.join(" "), name: nil, id: nil, class: "key_field" %></td>
								<td><%= text_field_tag "member[data][#{key}]", value, class: "value_field" %></td>
								<td><%= link_to "<i class=\"fa fa-times-circle\"></i>".html_safe, "#", class: "remove_member_field" %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		
			<%= link_to "Add Field", "#", class: "small grey_bg button add_member_field" %>
		</div>
		
		<div class="actions">
	    <%= submit_tag "Save Member", class: "big blue_bg button" %>
			
			<%= link_to "Close", "#", class: "close_lightbox" %>
			
			<% if @this_member != @member && @this_member.persisted? && @member.permits?(@this_member, :delete) %>
				<%= link_to "Delete", member_path(@org, @this_member), class: "close_lightbox", remote: true, method: :delete, data: { confirm: "This will delete all data associated with this member. Are you sure you want to delete this member?" } %>
			<% end %>
			
			<% if @this_member.emailable? && @member.permits?(:messages, :write) %>
				<%= link_to "Send Message", new_message_path(@org, message: { member_ids: [@this_member.id] }), remote: true %>
			<% end %>
	  </div>		
	<% end %>
</div>