<tr id="member_<%= member.id %>" class="member">
	<td class="add_padding"><%= check_box_tag "member_checkbox_#{member.id}", member.id, false, class: "member_checkbox" %></td>
	<td><%= link_to member.data["first_name"].to_s, member_path(member.organization, member), remote: true %></td>
	<td><%= link_to member.data["last_name"].to_s, member_path(member.organization, member), remote: true %></td>
	<td><%= link_to member.data["email"].to_s, member_path(member.organization, member), remote: true %></td>
</tr>