<%= link_to "x", "#", class: "close_lightbox close_button" %>
<h1><%= @this_member.name %></h1>

<div class="content">
	<% if @this_member.emailable? && @member.permits?(:messages, :write) %>
		<%= link_to "Send Message", new_message_path(@org, message: { member_ids: [@this_member.id] }), remote: true, class: "medium blue_bg button right" %>
	<% end %>
	
	<h3>Profile <%= link_to "(Edit)", edit_member_path(@this_member.organization, @this_member), remote: true if @member.permits? @this_member, :write %></h3>
	
	<%= render "profile" %>
	
	<h3>History</h3>
	<ul class="descriptive">
		<%= jibe @this_member.events.includes(:organization).order("created_at desc"), scope: [@this_member], strategy: "prepend" %>
	</ul>
</div>